@charset "utf-8";

// ==========================================
// style.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

// IMPORT BOOTSTRAP ------------------------- //
// Override Bootstrap variables

// Import Bootstrap Grid
@import '../vendor/bootstrap/scss/bootstrap-reboot';
@import '../vendor/bootstrap/scss/bootstrap-grid';
@import '../vendor/bootstrap/scss/utilities/screenreaders';

// CSS copyright notice
/*!
 * InstalmentLoan
 * Copyright 2017 Affiniture Cards Limited
 */

// IMPORT UTILITIES ------------------------- //
@import 'utilities/variables';

// IMPORT BASE PARTIALS --------------------- //
@import 'base/legacy';
@import 'base/base';

// IMPORT COMPONENTS ------------------------ //
@import 'components/button';
@import 'components/card';

// IMPORT LAYOUTS --------------------------- //
@import 'layout/navigation';


// EXISTING STYLES TO MIGRATE TO PARTIALS --- //

/* --------------- PANELS --------------- */
.panel {
  margin-bottom: 5rem;
}

.panel .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.panel .panel-heading {
  letter-spacing: 1rem;
  text-align: center;
  margin: 6rem 1rem;
}

.panel.panel-text-white .panel-heading {
  color: #ffffff;
}

.panel .panel-heading-thin {
  font-weight: 100;
}

.panel .panel-heading-bold {
  font-weight: 400;
}

.panel .panel-heading-shadow {
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

/* Panel Hero Images */
.panel .panel-hero {
  background-size: cover;
  padding: 1px;
}

.panel-hero.hero-filter::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
}

.panel-hero.hero-filter .container {
  position: relative;
  z-index: 1;
}

.panel-hero.hero-filter.hero-filter-dark::before {
  background-color: rgba(0,0,0,0.3);
}

.panel-hero.hero-filter.hero-filter-light::before {
  background-color: rgba(255,255,255,0.6);
}

.panel-hero.hero-fade::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: ' ';
  background: linear-gradient(0deg,rgba(255,255,255,1), rgba(255,255,255,0));
}

/* Panel Hero Parallax */
.panel.parallax .parallax-container {
  position: relative;
  z-index: 0;
}

.panel.parallax .panel-card {
  position: relative;
}

/* Panel Cards */
.panel .panel-card {
  padding: 1.5rem;
}

.panel.parallax .panel-card {
  position: relative;
}

.panel .panel-card-heading {
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.panel .panel-card .button {
  font-size: 1.125rem;
}

.panel .panel-card-light {
  background-color: $colour-light;
}

.panel .panel-card-navy {
  background-color: $colour-navy-blue;
}

/* Specific Panels */
.panel.panel-products .product-cards {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  margin-left: 0px;
  margin-right: 0px;
}

.panel.panel-products .product-cards [class^="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}


.panel.panel-contact .panel-card {
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}

.panel.panel-contact .card {
  margin-bottom: 1rem;
}

.panel.panel-contact .contact-text {
  font-size: .875rem;
  text-align: left;
}

/* --------------- PRICING FORM --------------- */
.pricing-tabs {
  margin-left: 15px;
  margin-right: 15px;
}

.pricing-tabs ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.pricing-tabs .ui-tab a{
  font-size: 1.5rem;
  padding: 1.25rem;
  text-align: left;
  display: block;
  text-transform: uppercase;
  height: 100%;
  line-height: 1.7rem;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.pricing-tabs .ui-tab a:hover{
  text-decoration: none;
  opacity: 0.6;
}

.pricing-tabs .ui-tabs-active a{
  opacity: 1 !important;
}

.pricing-tabs .pricing-tab-blue {
  background-color: $colour-light-blue;
  color: #ffffff;
}

.pricing-tabs .pricing-tab-navy {
  background-color: $colour-navy-blue;
  color: #ffffff;
}

.pricing-tabs .pricing-tab-grey {
  background-color: $colour-black;
  color: #ffffff;
}

.pricing-tabs ul, .pricing-form .row {
  margin-bottom: 2rem;
}

.pricing-form {
  text-align: left;
}

.pricing-form .pricing-form-overview {
  padding: 1.25rem;
}

.pricing-form .pricing-form-overview h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

.pricing-form .pricing-form-overview p {
  font-size: 1.5rem;
}

.pricing-form-slider {
  height: 3px;
  margin-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  display: none;
}

.pricing-form-slider::before, .pricing-form-slider::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
}

.pricing-form-slider::before {
  left: -4rem;
}

.pricing-form-slider::after {
  right: -4rem;
  background-color: #f0f1f3;
}

.pricing-form-slider.slider-navy, .pricing-form-slider.slider-navy::before, .pricing-form-slider.slider-navy .ui-slider-handle {
  background-color: $colour-navy-blue;
}

.pricing-form-slider.slider-blue, .pricing-form-slider.slider-blue::before, .pricing-form-slider.slider-blue .ui-slider-handle {
  background-color: $colour-light-blue;
}

.pricing-form-slider.slider-grey, .pricing-form-slider.slider-grey::before, .pricing-form-slider.slider-grey .ui-slider-handle {
  background-color: $colour-black;
}

.pricing-form-slider .ui-slider-range {
  background-color: $colour-light;
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 0;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.pricing-form-slider .ui-slider-handle {
  width: 8rem;
  height: 2rem;
  top: 50%;
  margin-top: -1rem;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
  font-size: 1.125rem;
  position: absolute;
  cursor: ew-resize;
  -ms-touch-action: none;
  touch-action: none;
  margin-left: -4rem;
  z-index: 1;
}

table.pricing-form-repayments {
  width: 100%;
  display: none;
}

table.pricing-form-repayments thead {
  background-color: #f0f1f3;
}

table.pricing-form-repayments th {
  width: 30%
}

table.pricing-form-repayments th:first-child {
  width: 10%
}

table.pricing-form-repayments td, table.pricing-form-repayments th {
  padding: .3rem .75rem;
  text-align: center;
  border-top: 1px solid #f0f1f3;
}

.pricing-contact {
  text-align: left;
}

.pricing-contact h4 {
  font-size: 2.625rem;
  letter-spacing: 1rem;
}

/* --------------- MODAL --------------- */
.dc-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.dc-modal {
  background-color: #fff;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 3rem;
  text-align: center;
}

.dc-modal-container.loading-modal .fa-spin + * {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* --------------- MEDIA QUERIES --------------- */

@media(min-width:768px) {

  .panel {
    text-align: center;
  }

  .panel .panel-hero .panel-heading {
    margin: 6rem 9.5rem;
  }

  .panel .panel-card {
    padding: 4rem 7.5rem;
  }

  .panel .panel-card-heading {
    letter-spacing: 1rem;
  }

  .panel.panel-contact .panel-card {
    padding: 2rem;
  }

}


@media(min-width:992px) {

  .panel .container {
    max-width: 960px;
  }

  .panel .panel-hero {
    min-height: 37.5rem;
    margin-bottom: -6.25rem;
  }

  .panel .panel-hero-sm {
    margin-bottom: -20rem;
  }

  nav.nav-secondary .nav-secondary-mobile-header {
    display: none;
  }

  .panel.panel-products .product-cards {
    margin-left: -15px;
    margin-right: -15px;
  }

  .panel.panel-products .product-cards [class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* --------------- FLOATING COLUMNS --------------- */
  .col-floating {
    position: relative;
    margin-top: 2rem;
  }

  .col-floating::before {
    content: '';
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f0f1f3;
  }

  .col-floating .col-floating-img  {
    margin-top: 2rem;
    margin-bottom: 2rem;
    img {
      @include img-fluid;
    }
  }

  .col-floating .row  {
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .col-floating .row:first-child  {
    margin-top: 0;
  }

  .col-floating .row:last-child  {
    margin-bottom: 0;
  }

  .col-floating .row:first-child .col-floating-img  {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .col-floating .row:last-child .col-floating-img  {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }

  .col-floating .col {
    padding: 0;
  }

  .col-floating .card {
    padding: 5rem 6.5rem;
  }

  .col-floating .card .card-heading {
    font-size: 2.625rem;
  }

  .pricing-tabs {
    margin-left: 0px;
    margin-right: 0px;
  }

  .pricing-form-slider {
    display: block;
  }

  .pricing-form-mobile-input {
    display: none;
  }

  table.pricing-form-repayments {
    display: table;
  }

}

@media(min-width:1200px) {

  nav .container, .panel .container {
    max-width: 1140px;
  }

  /* ---------------NAVIGATION --------------- */
  /* Global Navigation Styles */
  nav .container{
    position: relative;
  }

  /* Secondary Navigation Styles */
  nav.nav-secondary li a {
    margin: 0 1rem;
    padding: 0.625rem 1rem;
  }

  nav.nav-secondary.fixed li a {
    padding: 1.187rem 1rem;
  }

  nav.nav-secondary .nav-secondary-branding {
    left: 0;
  }

  nav.nav-secondary .nav-secondary-actions {
    right: 0;
  }

}
