@charset "utf-8";

// ==========================================
// style.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

// IMPORT BOOTSTRAP ------------------------- //
// Override Bootstrap variables

// Import Bootstrap Grid
@import '../vendor/bootstrap/scss/bootstrap-reboot';
@import '../vendor/bootstrap/scss/bootstrap-grid';
@import '../vendor/bootstrap/scss/utilities/screenreaders';
@import '../vendor/bootstrap/scss/images';

// CSS copyright notice
/*!
 * InstalmentLoan
 * Copyright 2017 Affiniture Cards Limited
 */

// IMPORT UTILITIES ------------------------- //
@import 'utilities/variables';

// IMPORT BASE PARTIALS --------------------- //
@import 'base/legacy';
@import 'base/base';

// IMPORT COMPONENTS ------------------------ //
@import 'components/button';
@import 'components/card';
@import 'components/modal';
@import 'components/tabs';
@import 'components/slider';

// IMPORT LAYOUTS --------------------------- //
@import 'layout/navigation';
@import 'layout/panel';
@import 'layout/floating-columns';


// EXISTING STYLES TO MIGRATE TO PARTIALS --- //


/* --------------- PRICING FORM --------------- */



.pricing-form .row {
  margin-bottom: 2rem;
}

.pricing-form {
  text-align: left;
}

.pricing-form .pricing-form-overview {
  padding: 1.25rem;
}

.pricing-form .pricing-form-overview h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

.pricing-form .pricing-form-overview p {
  font-size: 1.5rem;
}

table.pricing-form-repayments {
  width: 100%;
  display: none;
}

table.pricing-form-repayments thead {
  background-color: #f0f1f3;
}

table.pricing-form-repayments th {
  width: 30%
}

table.pricing-form-repayments th:first-child {
  width: 10%
}

table.pricing-form-repayments td, table.pricing-form-repayments th {
  padding: .3rem .75rem;
  text-align: center;
  border-top: 1px solid #f0f1f3;
}

.pricing-contact {
  text-align: left;
}

.pricing-contact h4 {
  font-size: 2.625rem;
  letter-spacing: 1rem;
}

@media(min-width:992px) {

  /* --------------- FLOATING COLUMNS --------------- */

  .pricing-form-mobile-input {
    display: none;
  }

  table.pricing-form-repayments {
    display: table;
  }

}