@charset "utf-8";

// ==========================================
// style.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

// IMPORT BOOTSTRAP ------------------------- //
// Override Bootstrap variables

// Import Bootstrap Grid
@import '../vendor/bootstrap/scss/bootstrap-reboot';
@import '../vendor/bootstrap/scss/bootstrap-grid';
@import '../vendor/bootstrap/scss/utilities/screenreaders';
@import '../vendor/bootstrap/scss/images';

// CSS copyright notice
/*!
 * InstalmentLoan
 * Copyright 2017 Affiniture Cards Limited
 */

// IMPORT UTILITIES ------------------------- //
@import 'utilities/variables';

// IMPORT BASE PARTIALS --------------------- //
@import 'base/legacy';
@import 'base/base';

// IMPORT COMPONENTS ------------------------ //
@import 'components/button';
@import 'components/card';
@import 'components/modal';

// IMPORT LAYOUTS --------------------------- //
@import 'layout/navigation';
@import 'layout/panel';
@import 'layout/floating-columns';


// EXISTING STYLES TO MIGRATE TO PARTIALS --- //


/* --------------- PRICING FORM --------------- */
.pricing-tabs {
  margin-left: 15px;
  margin-right: 15px;
}

.pricing-tabs ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.pricing-tabs .ui-tab a{
  font-size: 1.5rem;
  padding: 1.25rem;
  text-align: left;
  display: block;
  text-transform: uppercase;
  height: 100%;
  line-height: 1.7rem;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.pricing-tabs .ui-tab a:hover{
  text-decoration: none;
  opacity: 0.6;
}

.pricing-tabs .ui-tabs-active a{
  opacity: 1 !important;
}

.pricing-tabs .pricing-tab-blue {
  background-color: $colour-light-blue;
  color: #ffffff;
}

.pricing-tabs .pricing-tab-navy {
  background-color: $colour-navy-blue;
  color: #ffffff;
}

.pricing-tabs .pricing-tab-grey {
  background-color: $colour-black;
  color: #ffffff;
}

.pricing-tabs ul, .pricing-form .row {
  margin-bottom: 2rem;
}

.pricing-form {
  text-align: left;
}

.pricing-form .pricing-form-overview {
  padding: 1.25rem;
}

.pricing-form .pricing-form-overview h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

.pricing-form .pricing-form-overview p {
  font-size: 1.5rem;
}

.pricing-form-slider {
  height: 3px;
  margin-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  display: none;
}

.pricing-form-slider::before, .pricing-form-slider::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
}

.pricing-form-slider::before {
  left: -4rem;
}

.pricing-form-slider::after {
  right: -4rem;
  background-color: #f0f1f3;
}

.pricing-form-slider.slider-navy, .pricing-form-slider.slider-navy::before, .pricing-form-slider.slider-navy .ui-slider-handle {
  background-color: $colour-navy-blue;
}

.pricing-form-slider.slider-blue, .pricing-form-slider.slider-blue::before, .pricing-form-slider.slider-blue .ui-slider-handle {
  background-color: $colour-light-blue;
}

.pricing-form-slider.slider-grey, .pricing-form-slider.slider-grey::before, .pricing-form-slider.slider-grey .ui-slider-handle {
  background-color: $colour-black;
}

.pricing-form-slider .ui-slider-range {
  background-color: $colour-light;
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 0;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.pricing-form-slider .ui-slider-handle {
  width: 8rem;
  height: 2rem;
  top: 50%;
  margin-top: -1rem;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
  font-size: 1.125rem;
  position: absolute;
  cursor: ew-resize;
  -ms-touch-action: none;
  touch-action: none;
  margin-left: -4rem;
  z-index: 1;
}

table.pricing-form-repayments {
  width: 100%;
  display: none;
}

table.pricing-form-repayments thead {
  background-color: #f0f1f3;
}

table.pricing-form-repayments th {
  width: 30%
}

table.pricing-form-repayments th:first-child {
  width: 10%
}

table.pricing-form-repayments td, table.pricing-form-repayments th {
  padding: .3rem .75rem;
  text-align: center;
  border-top: 1px solid #f0f1f3;
}

.pricing-contact {
  text-align: left;
}

.pricing-contact h4 {
  font-size: 2.625rem;
  letter-spacing: 1rem;
}

@media(min-width:992px) {

  nav.nav-secondary .nav-secondary-mobile-header {
    display: none;
  }

  /* --------------- FLOATING COLUMNS --------------- */

  .pricing-tabs {
    margin-left: 0px;
    margin-right: 0px;
  }

  .pricing-form-slider {
    display: block;
  }

  .pricing-form-mobile-input {
    display: none;
  }

  table.pricing-form-repayments {
    display: table;
  }

}

@media(min-width:1200px) {

  nav .container, .panel .container {
    max-width: 1140px;
  }

  /* ---------------NAVIGATION --------------- */
  /* Global Navigation Styles */
  nav .container{
    position: relative;
  }

  /* Secondary Navigation Styles */
  nav.nav-secondary li a {
    margin: 0 1rem;
    padding: 0.625rem 1rem;
  }

  nav.nav-secondary.fixed li a {
    padding: 1.187rem 1rem;
  }

  nav.nav-secondary .nav-secondary-branding {
    left: 0;
  }

  nav.nav-secondary .nav-secondary-actions {
    right: 0;
  }

}
