// ==========================================
// _button.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

.button {
  border: 1px solid;
  padding: 1rem 1.5rem;
  display: inline-block;
  text-indent: 0.3rem;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
	
	&-block {
		display: block;
		width: 100%;
	}

	@each $theme, $colour in $accents {
    &-#{$theme} {
			background-color: $colour;
			border-color: $colour;
			color: get-visible-color($colour, $colour-black, $colour-white);
			&:hover {
				background-color: transparent;
				color: $colour;
			}
		}
	
		&-outline-#{$theme} {
			border-color: $colour;
			color: $colour;
			&:hover {
				background-color: $colour;
				color: get-visible-color($colour, $colour-black, $colour-white);
			}
		}	
  } 
}