// ==========================================
// _slider.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

%slider-bar {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
}

.slider {
  height: 3px;
  margin-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
	&::before {
		@extend %slider-bar;
		left: -4rem;
	}
	&::after {
		@extend %slider-bar;
		right: -4rem;
		background-color: #f0f1f3;
	}
	.ui-slider-range {
		background-color: $colour-light;
		right: 0;
		top: 0;
		height: 100%;
		position: absolute;
		z-index: 0;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}
	.ui-slider-handle {
		width: 8rem;
		height: 2rem;
		top: 50%;
		margin-top: -1rem;
		text-align: center;
		line-height: 2rem;
		font-size: 1.125rem;
		position: absolute;
		cursor: ew-resize;
		-ms-touch-action: none;
		touch-action: none;
		margin-left: -4rem;
		z-index: 1;
	}
	@each $theme, $colour in $accents {
    &-#{$theme}, &-#{$theme}::before, &-#{$theme} .ui-slider-handle {
			background-color: $colour;
			color: get-visible-color($colour, $colour-black, $colour-white);
    }
  } 
	
}

.pricing-form-slider {
	@extend .slider;
	display: none;
	@media (min-width: $break-lg) {
		display: block; 
	}
}
