@charset "utf-8";

/* 
 * Affiniture Cards Limited - Instalment_Loan
 * css/styles.css - v0.1
 * CSS stylesheet for modern Diners Club components
 * 
 * Copyright 2017 Affiniture Cards Limited
 */


/* GLOBAL STYLES */
body {
	font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6, nav, a {
	font-family: 'proxima-nova', Helvetica, sans-serif;
	letter-spacing: 0.1rem;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, a.button {
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.625rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.125rem;
}

/* BUTTONS */
.button {
	border: 1px solid;
	padding: 1rem 1.5rem;
	display: inline-block;
	text-indent: 0.3rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	text-decoration: none;
}

.button-outline-dark {
	border-color: #000000;
	color: #000000;
}

.button-outline-dark:hover {
	background-color: #000000;
	color: #ffffff;
}

/* NAVIGATION */
/* Global Navigation Styles */

nav .container {
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center !important;
	align-items: center !important;
	position: relative;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

nav ul {
	display: -ms-flexbox;
	display: flex;
	justify-content: center !important;
	list-style-type: none;
	margin-bottom: 0px;
	padding-left: 0px;
}
nav li, nav li a {
	display: block;
}

nav a:hover {
	text-decoration: none;
}

nav .nav-button {
	font-size: 14px;
	padding: 3px 20px;
}

/* Secondary Navigation Styles */
nav.nav-secondary {
	background-color: #436889;
	text-transform: uppercase;
	color: #ffffff;
	width: 100%;
	z-index: 1;
	position: absolute;
}

nav.nav-secondary .nav-secondary-branding {
	position: absolute;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

nav.nav-secondary .nav-secondary-actions {
	position: absolute;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

nav.nav-secondary a {
	color: #ffffff;
}

nav.nav-secondary li a {
	font-size: 0.9375rem;
	line-height: 0.9375rem;
	font-weight: 100;
	margin: 0 1rem;
	padding: 0.625rem 1rem;
	position: relative;
	-webkit-transition: padding 0.3s ease-in-out;
	-moz-transition: padding 0.3s ease-in-out;
	-ms-transition: padding 0.3s ease-in-out;
	-o-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}

nav.nav-secondary li.active a::after, nav.nav-secondary li a:hover::after  {
	border-bottom: 0.25rem solid #ffffff;
	bottom: 0px;
	content: '';
	left: 0px;
	position: absolute;
	right: 0px;	
}

nav.nav-secondary li.nav-secondary-item-primary a {
	font-weight: 500;
}


nav.nav-secondary.fixed {
	position: fixed;
	top: 0px;
}

nav.nav-secondary.fixed .nav-secondary-branding {
	opacity: 1;
}

nav.nav-secondary.fixed .nav-secondary-actions {
	opacity: 1;
}

nav.nav-secondary.fixed li a {
	padding: 1.187rem 1rem;
}

/* PANELS */
.panel {
	text-align: center;
	margin-bottom: 5rem;
}

.panel .panel-heading {
	letter-spacing: 1rem;
}

.panel.panel-text-white .panel-heading {
	color: #ffffff;
}

.panel .panel-heading-thin {
	font-weight: 100;
}

.panel .panel-hero {
	min-height: 37.5rem;
	margin-bottom: -6.25rem;
	background-size: cover;
	padding: 1px;
}

.panel .panel-hero .panel-heading {
	margin: 6rem 9.5rem;
	letter-spacing: 1rem;
}

.panel .panel-card {
	padding: 4rem 7.5rem;
}

.panel .panel-card-heading {
	font-weight: 400;
	letter-spacing: 1rem;
}

.panel .panel-card .button {
	font-size: 1.125rem;
}

.panel .panel-card-light {
	background-color: #F0F1F3;
}

/* Panel HeroBackground Images */
.panel-hero.hero-instalment-index {
	background-image:
		linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
		url('../img/stock/pexels-photo-541523.jpeg');
	background-position: center;
}


.dc-card {
	padding: 2.5rem;
	text-align: left;
}

.dc-card .card-heading {
	font-weight: 100;
}

.dc-card.card-white {
	background-color: #ffffff;
	color: #000000;
}

.dc-card.card-blue {
	background-color: #436889;
	color: #ffffff;
}

.dc-card.card-blue p {
	-moz-osx-font-smoothing: grayscale;
}

/* FLOATING COLUMNS */
.col-floating {
	position: relative;
	margin-top: 2rem;
}

.col-floating::before {
	content: '';
	position: absolute;
	top: 100px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #f0f1f3;
}

.col-floating .col-floating-img  {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.col-floating .row  {
	margin-top: -2rem;
	margin-bottom: -2rem;
}

.col-floating .row:first-child  {
	margin-top: 0;
}

.col-floating .row:last-child  {
	margin-bottom: 0;
}

.col-floating .row:first-child .col-floating-img  {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.col-floating .row:last-child .col-floating-img  {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}


.col-floating .col {
	padding: 0;
}

.col-floating .dc-card {
	padding: 5rem 6.5rem;
}

.col-floating .dc-card .card-heading {
	font-size: 2.625rem;
}

/* PRICING SLIDERS */

.ui-slider {
	height: 3px;
	background-color: #041E42;
	border: 0 !important;
	border-radius: 0 !important;
}

.ui-slider .ui-slider-handle {
	width: 5rem;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
	background-color: #041E42;
	color: #ffffff;
	border: 0;
	border-radius: 0;
	font-family: 'proxima-nova', Helvetica, sans-serif;
}