@charset "utf-8";

/* 
 * Affiniture Cards Limited - Instalment_Loan
 * css/styles.css - v0.1
 * CSS stylesheet for modern Diners Club components
 * 
 * Copyright 2017 Affiniture Cards Limited
 */


/* --------------- GLOBAL STYLES --------------- */
body {
	font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6, nav, a {
	font-family: 'proxima-nova', Helvetica, sans-serif;
	letter-spacing: 0.1rem;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, a.button {
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.625rem;
}

h3 {
	font-size: 2rem;
}

h3.numbered {
	text-align: left;
}

h3.numbered span {
	background-color: #f0f1f3;
	display: inline-block;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 2.8rem;
	text-indent: 0.3rem;
	font-weight: 400;
}

p {
	font-size: 1.125rem;
}

/* --------------- BUTTONS --------------- */
.button {
	border: 1px solid;
	padding: 1rem 1.5rem;
	display: inline-block;
	text-indent: 0.3rem;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	text-decoration: none;
}

.button-block {
	display: block;
}

.button-outline-dark {
	border-color: #000000;
	color: #000000;
}

.button-outline-dark:hover {
	background-color: #000000;
	color: #ffffff;
}

.button-outline-light {
	border-color: #ffffff;
	color: #ffffff;
}

.button-outline-light:hover {
	background-color: #ffffff;
	color: #000000;
}

/* ---------------NAVIGATION --------------- */
/* Global Navigation Styles */

nav .container {
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center !important;
	align-items: center !important;
	position: relative;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

nav ul {
	display: -ms-flexbox;
	display: flex;
	justify-content: center !important;
	list-style-type: none;
	margin-bottom: 0px;
	padding-left: 0px;
}
nav li, nav li a {
	display: block;
}

nav a:hover {
	text-decoration: none;
}

nav .nav-button {
	font-size: 14px;
	padding: 3px 20px;
}

/* Secondary Navigation Styles */
nav.nav-secondary {
	background-color: #436889;
	text-transform: uppercase;
	color: #ffffff;
	width: 100%;
	z-index: 1;
	position: absolute;
}

nav.nav-secondary .nav-secondary-branding {
	position: absolute;
	left: -15px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

nav.nav-secondary .nav-secondary-actions {
	position: absolute;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

nav.nav-secondary a {
	color: #ffffff;
}

nav.nav-secondary li a {
	font-size: 0.9375rem;
	line-height: 0.9375rem;
	font-weight: 100;
	margin: 0 1rem;
	padding: 0.625rem 1rem;
	position: relative;
	-webkit-transition: padding 0.3s ease-in-out;
	-moz-transition: padding 0.3s ease-in-out;
	-ms-transition: padding 0.3s ease-in-out;
	-o-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}

nav.nav-secondary li.active a::after, nav.nav-secondary li a:hover::after  {
	border-bottom: 0.25rem solid #ffffff;
	bottom: 0px;
	content: '';
	left: 0px;
	position: absolute;
	right: 0px;	
}

nav.nav-secondary li.nav-secondary-item-primary a {
	font-weight: 500;
}


nav.nav-secondary.fixed {
	position: fixed;
	top: 0px;
}

nav.nav-secondary.fixed .nav-secondary-branding {
	opacity: 1;
}

nav.nav-secondary.fixed .nav-secondary-actions {
	opacity: 1;
}

nav.nav-secondary.fixed li a {
	padding: 1.187rem 1rem;
}

/* --------------- PANELS --------------- */
.panel {
	text-align: center;
	margin-bottom: 5rem;
}

.panel .panel-heading {
	letter-spacing: 1rem;
}

.panel.panel-text-white .panel-heading {
	color: #ffffff;
}

.panel .panel-heading-thin {
	font-weight: 100;
}

.panel .panel-heading-bold {
	font-weight: 400;
}

.panel .panel-heading-shadow {
	text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

/* Panel Hero Images */

.panel .panel-hero {
	min-height: 37.5rem;
	margin-bottom: -6.25rem;
	background-size: cover;
	padding: 1px;
}

.panel .panel-hero-sm {
	margin-bottom: -13rem;
}

.panel .panel-hero .panel-heading {
	margin: 6rem 9.5rem;
	letter-spacing: 1rem;
}

.panel-hero.hero-filter::before {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	content: ' ';
	z-index: -1;
}

.panel-hero.hero-filter.hero-filter-dark::before {
	background-color: rgba(0,0,0,0.3);
}

.panel-hero.hero-filter.hero-filter-light::before {
	background-color: rgba(255,255,255,0.6);
}

.panel-hero.hero-fade::after {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	height: 40%;
	content: ' ';
	z-index: -1;
	background: linear-gradient(0deg,rgba(255,255,255,1), rgba(255,255,255,0));
}

/* Panel Hero Parallax */

.panel.parallax .parallax-container {
    position: relative;
    z-index: 0;
}

.panel.parallax .panel-card {
	position: relative;
}

/* Panel Cards */
.panel .panel-card {
	padding: 4rem 7.5rem;
}

.panel.parallax .panel-card {
	position: relative;
}

.panel .panel-card-heading {
	font-weight: 400;
	letter-spacing: 1rem;
}

.panel .panel-card .button {
	font-size: 1.125rem;
}

.panel .panel-card-light {
	background-color: #F0F1F3;
}

/* CARDS */

.dc-card {
	padding: 2.5rem;
	text-align: left;
}

.dc-card .card-heading {
	font-weight: 100;
}

.dc-card.card-white {
	background-color: #ffffff;
	color: #000000;
}

.dc-card.card-blue {
	background-color: #436889;
	color: #ffffff;
}

.dc-card.card-blue p {
	-moz-osx-font-smoothing: grayscale;
}

.dc-card.equalise {
	height: 100%;
	display: flex;
	flex-direction: column!important;
}

.dc-card.equalise .card-button-fixed {
	margin-top: auto;
}

/* FLOATING COLUMNS */
.col-floating {
	position: relative;
	margin-top: 2rem;
}

.col-floating::before {
	content: '';
	position: absolute;
	top: 100px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #f0f1f3;
}

.col-floating .col-floating-img  {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.col-floating .row  {
	margin-top: -2rem;
	margin-bottom: -2rem;
}

.col-floating .row:first-child  {
	margin-top: 0;
}

.col-floating .row:last-child  {
	margin-bottom: 0;
}

.col-floating .row:first-child .col-floating-img  {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.col-floating .row:last-child .col-floating-img  {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}


.col-floating .col {
	padding: 0;
}

.col-floating .dc-card {
	padding: 5rem 6.5rem;
}

.col-floating .dc-card .card-heading {
	font-size: 2.625rem;
}

/* --------------- PRICING FORM --------------- */

.pricing-tabs ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 2rem;
}

.pricing-tabs .ui-tab a{
	font-size: 1.5rem;
	padding: 1.25rem;
	text-align: left;
	display: block;
	text-transform: uppercase;
	height: 100%;
	line-height: 1.7rem;
	opacity: 0.2;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.pricing-tabs .ui-tab a:hover{
	text-decoration: none;
	opacity: 0.6;
}

.pricing-tabs .ui-tabs-active a{
	opacity: 1 !important;
}

.pricing-tabs .pricing-tab-blue {
	background-color: #436889;
	color: #ffffff;
}

.pricing-tabs .pricing-tab-navy {
	background-color: #041E42;
	color: #ffffff;
}

.pricing-tabs .pricing-tab-grey {
	background-color: #2C2A29;
	color: #ffffff;
}

.pricing-tabs ul, .pricing-form .row {
	margin-bottom: 2rem;
}

.pricing-form {
	text-align: left;
}

.pricing-form .pricing-form-overview {
	padding: 1.25rem; 
}

.pricing-form .pricing-form-overview h4 {
	font-size: 1rem;
	margin-bottom: 0;
}

.pricing-form .pricing-form-overview p {
	font-size: 1.5rem;
}

.pricing-form-slider {
	height: 3px;
	margin-bottom: 3rem;
	margin-left: 4rem;
	margin-right: 4rem;
	position: relative;
}

.pricing-form-slider::before, .pricing-form-slider::after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 4rem;
}

.pricing-form-slider::before {
	left: -4rem;
}

.pricing-form-slider::after {
	right: -4rem;
	background-color: #f0f1f3;
}

.pricing-form-slider.slider-navy, .pricing-form-slider.slider-navy::before, .pricing-form-slider.slider-navy .ui-slider-handle {
	background-color: #041E42;
}

.pricing-form-slider.slider-blue, .pricing-form-slider.slider-blue::before, .pricing-form-slider.slider-blue .ui-slider-handle {
	background-color: #436889;
}

.pricing-form-slider.slider-grey, .pricing-form-slider.slider-grey::before, .pricing-form-slider.slider-grey .ui-slider-handle {
	background-color: #2C2A29;
}

.pricing-form-slider .ui-slider-range {
	background-color: #f0f1f3;
	right: 0;
	top: 0;
	height: 100%;
	position: absolute;
	z-index: 0;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.pricing-form-slider .ui-slider-handle {
	width: 8rem;
	height: 2rem;
	top: 50%;
	margin-top: -1rem;
	text-align: center;
	line-height: 2rem;
	color: #ffffff;
	font-size: 1.125rem;
	position: absolute;
	cursor: ew-resize;
	-ms-touch-action: none;
	touch-action: none;
	margin-left: -4rem;
	z-index: 1;
}

table.pricing-form-repayments {
	width: 100%;
}

table.pricing-form-repayments thead {
	background-color: #f0f1f3;
}

table.pricing-form-repayments th {
	width: 30%
}

table.pricing-form-repayments th:first-child {
	width: 10%
}

table.pricing-form-repayments td, table.pricing-form-repayments th {
	padding: .3rem .75rem;
	text-align: center;
	border-top: 1px solid #f0f1f3;
}

/* --------------- MODAL --------------- */
.dc-modal-container {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: none;
}

.dc-modal {
	background-color: #fff;
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	padding: 3rem;
	text-align: center;
}

.dc-modal-container.loading-modal .fa-spin + * {
	margin-top: 1.5rem;
	margin-bottom: 0;
}