// ==========================================
// _variables.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

// MEDIA BREAKPOINTS ------------------------ //
$break-xs: 575px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// BRAND COLOURS ---------------------------- //
$colour-white: #FFFFFF;
$colour-light: #F0F1F3;
$colour-grey: #BBBCBC;
$colour-black: #2C2A29;
$colour-navy-blue: #041E42;
$colour-logo: #004C97;
$colour-light-blue: #477196;
$colour-gold: #CC8727;

// TYPOGRAPHY ------------------------------- //
$base-font-size: 16px;
$font-stack-primary: 'proxima-nova', Helvetica, sans-serif;
$font-stack-secondary: Georgia, serif;