// ==========================================
// _navigation.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

header {
	margin-bottom: 50px;
	@media (min-width: $break-md) {
		margin-bottom: 0px;
	}
}

nav .container {
  padding: 0;
	width: 100%;
	@media (min-width: $break-sm) {
		max-width: 100%;
	}
	@media (min-width: $break-md) {
		max-width: 100%;
	}
	@media (min-width: $break-lg) {
		display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
	}
}

nav ul {
  list-style-type: none;
  margin-bottom: 0px;
	padding-left: 0px;
	li {
		display: block;
		a {
			display: block;
		}
	}
	@media (min-width: $break-lg) {
		display: -ms-flexbox;
    display: flex;
    justify-content: center !important;
	}
}

nav a:hover {
  text-decoration: none;
}

nav .nav-button {
  font-size: 14px;
  padding: 3px 20px;
}

%nav-font-styling {
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  font-weight: 100;
  padding: 1.125rem;
  margin: 0px;
  letter-spacing: 0.3rem;
}

%hide-nav-element {
  display: none;
}

%show-nav-element {
  display: block;
}

%nav-secondary-active-style {
	@media (min-width: $break-lg) {
    border-bottom: 0.25rem solid #ffffff;
    bottom: 0px;
    content: '';
    left: 0px;
    position: absolute;
		right: 0px;
	}
}

// Secondary Navigation Styles
.nav-secondary {
  background-color: $colour-light-blue;
  text-transform: uppercase;
  color: $colour-white;
  width: 100%;
  z-index: 10;
	position: absolute;
	&.fixed {
		position: fixed;
		top: 0px;
		@media (min-width: $break-lg) {
			.nav-secondary-branding, .nav-secondary-actions {
				opacity: 1;
			}
			li a {
				padding: 1.187rem 0.5rem;
			}
		}
	}
	li {
		@extend %hide-nav-element;
		a {
			@extend %nav-font-styling;
			color: $colour-white;
			position: relative;
			-webkit-transition: padding 0.3s ease-in-out;
			-moz-transition: padding 0.3s ease-in-out;
			-ms-transition: padding 0.3s ease-in-out;
			-o-transition: padding 0.3s ease-in-out;
			transition: padding 0.3s ease-in-out;
			&:hover::after {
				@extend %nav-secondary-active-style;
			}
			@media (min-width: $break-lg) {
				margin: 0 0.5rem;
				padding: 0.625rem 0.4rem;
				letter-spacing: 0.1rem;
			}
		}
		.nav-secondary-item-primary a {
			@media (min-width: $break-lg) {
				font-weight: 500;
			}
		}
		&.active a::after {
			@extend %nav-secondary-active-style;
		}
		@media (min-width: $break-lg) {
			display: block !important;
		}
	}
	.nav-secondary-mobile-header {
		@extend %nav-font-styling;
		font-weight: 500;
	}

	.nav-secondary-mobile-toggle {
		position: absolute;
		right: 5px;
		top: 0px;
		background: none;
		border: none;
		color: $colour-white;
		line-height: 1;
		font-size: 1.8rem;
		padding: 0.6rem;
		cursor: pointer;
		.fa-times {
			@extend %hide-nav-element;
		}
	}
	.nav-secondary-branding {
		@extend %hide-nav-element;
		@media (min-width: $break-lg) {
			display: block;
			position: absolute;
			left: 15px;
			opacity: 0;
			-webkit-transition: opacity 0.3s ease-in-out;
			-moz-transition: opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
		}
	}
	.nav-secondary-actions {
		@extend %hide-nav-element;
		@media (min-width: $break-lg) {
			display: block;
			position: absolute;
			right: 15px;
			opacity: 0;
			-webkit-transition: opacity 0.3s ease-in-out;
			-moz-transition: opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
		}
	}
}

// Secondary Navigation Mobile
.nav-expanded {
  position: fixed;
  top: 0;
	bottom: 0;
	li {
		@extend %show-nav-element;
		&.active a {
			font-weight: 500;
		}
	}
	.nav-secondary-actions {
		display: block;
		margin: 15px;
	}
	.nav-secondary-mobile-header {
		font-size: 1.1875rem;
		border-bottom: 1px solid #aabdce;
		.fa-angle-down {
			@extend %hide-nav-element;
		}
		.fa-times {
			@extend %show-nav-element;
		}
	}
	.nav-button {
		width: 100%;
		padding: 1rem;
	}
}