{#
 # Footer template
 # ---------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

<!-- Legacy Footer -->
<div id="mainform" class="legacy wrapper index">
	<div class="footer-bottom">
		<div class="content-holder">
			<span class="copyright"> Copyright &copy; {{ now.year }} Diners Club International Ltd.<br /><small class="sub">Diners Club International is operated by<br />Affiniture Cards Limited in the UK and ROI. <br />Registered in England Number: 07885531.</small> </span>
			<div class="links">
				<a class="m-first" href="http://dinersclub.co.uk/Other/Merchants.aspx"> Merchants - How to accept Diners Club card </a>
				<span id="ctl11_ctl02_rptLinks_ModeFooterSub_divider_1" class="divider m-first"></span>
				<a href="http://dinersclub.co.uk/Other/Terms and Conditions.aspx"> Terms &amp; Conditions </a>
				<span id="ctl11_ctl02_rptLinks_ModeFooterSub_divider_2" class="divider"></span>
				<a href="http://dinersclub.co.uk/Other/Privacy Policy.aspx"> Privacy Policy </a>
				<span id="ctl11_ctl02_rptLinks_ModeFooterSub_divider_3" class="divider"></span>
				<a href="http://dinersclub.co.uk/Other/Sitemap.aspx"> Sitemap </a>
			</div>
			<!--end of links-->
			<div class="clear">&nbsp;</div>
		</div>
		<!--end of content-holder-->
	</div>
</div>
<!-- END: Legacy Footer -->