{#
 # Footer template
 # ---------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

<!-- Legacy Footer -->
<div id="mainform" class="legacy wrapper index">
	<div class="footer-bottom">
		<div class="content-holder">
			<span class="copyright">
				{% include(template_from_string(footer.copyright)|raw) %}
			</span>
			{% if footer.links | length %}

				<div class="links">

					{% for link in footer.links %}

						{% if loop.first %}
							{% set class = 'm-first' %}
						{% else %}
							{% set class = '' %}
						{% endif %}

						<a class="{{ class }}" href="{{ link.url }}"> {{ link.displayName }} </a>

						{% if not loop.last %}
							<span class="divider {{ class }}"></span>
						{% endif %}

					{% endfor %}
					
				</div>

			{% endif %}
			<!--end of links-->
			<div class="clear">&nbsp;</div>
		</div>
		<!--end of content-holder-->
	</div>
</div>
<!-- END: Legacy Footer -->