{#
 # Header template
 # ---------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

{% include '_header-legacy' %}

<!-- Instalment Lending Header -->
<header>
	<!-- Instalment Lending Nav -->
	<nav class="nav-secondary nav-fixable">
		<!-- Nav Container -->
		<div class="container">
			<div class="nav-secondary-branding">
				<img src="img/logo.svg">
			</div>
			<div class="nav-secondary-mobile-header">
				<span>Instalment Lending</span>
				<button class="nav-secondary-mobile-toggle">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</div>
			<ul>
				<li class="nav-item nav-secondary-item nav-secondary-item-primary active">
					<a href="#sect_index">Instalment Lending</a>
				</li>
				<li class="nav-item nav-secondary-item">
					<a href="#sect_features">Features</a>
				</li>
				<li class="nav-item nav-secondary-item">
					<a href="#sect_products">Products</a>
				</li>
				<li class="nav-item nav-secondary-item">
					<a href="#sect_pricing">Pricing</a>
				</li>
				<li class="nav-item nav-secondary-item">
					<a href="#sect_contact">Contact</a>
				</li>
			</ul>
			<div class="nav-secondary-actions">
				<a class="button nav-button button-outline-light" href="#">
					Login
				</a>
			</div>
		</div>
		<!-- END: Nav Container -->
	</nav>
	<!-- END: Instalment Lending Nav -->
</header>
<!-- Instalment Lending Header -->