{#
 # Legacy Header template
 # ----------------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

<!-- Legacy Header and Nav -->
<div id="mainform" class="legacy wrapper index">

	<h1 class="sr-only">Diners Club International</h1>

	<!-- Diners Club Header Top -->
	<div class="header-top">
		<div class="content-holder">
			<div class="phone"><span>0345 862 2935</span></div>
			<div class="log-in">
				<i class="fa fa-lock"></i> LOG ON
				<span class="arrow"></span>
				<ul class="" style="display:none">
				
						<div id="ctl07_rptLogin_pnl_0">
	
						<li>
							<a target="_blank" href="https://customer-centre.dinersclub.co.uk/">
								<span class="big"> </span>
								<span class="small">Customer Centre </span>
								
								<div class="clear"></div>
							</a>
						</li>
						
</div>
					
						<div id="ctl07_rptLogin_pnl_1">
	
						<li>
							<a target="_blank" href="https://online.dinersclub.co.uk/DinersICardUK">
								<span class="big">UK </span>
								<span class="small">Diners Club<br> Card Account </span>
								
								<div class="clear"></div>
							</a>
						</li>
						
</div>
					
						<div id="ctl07_rptLogin_pnl_2">
	
						<li>
							<a target="_blank" href="https://online.dinersclub.co.uk/BtaUK">
								<span class="big">UK </span>
								<span class="small">Travel Account<br> &amp; thetrainline.com </span>
								
								<div class="clear"></div>
							</a>
						</li>
						
</div>
					
						<div id="ctl07_rptLogin_pnl_3">
	
						<li>
							<a target="_blank" href="https://online.dinersclub.co.uk/DinersICardIR">
								<span class="big">IE </span>
								<span class="small">Diners Club<br> Card Account </span>
								
								<div class="clear"></div>
							</a>
						</li>
						
</div>
					
						<div id="ctl07_rptLogin_pnl_4">
	
						<li>
							<a target="_blank" href="https://online.dinersclub.co.uk/BtaIRE">
								<span class="big">IE </span>
								<span class="small">Travel<br>Account </span>
								
								<div class="clear"></div>
							</a>
						</li>
						
</div>
					
			</ul>
			<ul class="options" style="display: none;">
					<li>
							<h3 class="loginHeading gbp"> <i class="fa fa-gbp"></i> Sterling</h3>
							<a href="https://customer-centre.dinersclub.co.uk" target="_blank">
									<span class="small">Customer Centre</span>
<div class="clear"></div>
							</a>
							<a href="https://online.dinersclub.co.uk/DinersICardUK/login.aspx?ReturnUrl=%2fDinersICardUK%2fdefault.aspx" target="_blank">
									<span class="small">Diners Club Card &amp; Corporate</span>

									<div class="clear"></div>
							</a>
							<a href="https://online.dinersclub.co.uk/BtaUK/Login.aspx?ReturnUrl=%2fBtaUK%2fdefault.aspx" target="_blank">
									<span class="small">Travel Account</span>

									<div class="clear"></div>
							</a>
							 <a href="https://online.dinersclub.co.uk/BtaUK/Login.aspx?ReturnUrl=%2fBtaUK%2fdefault.aspx" target="_blank">
									<span class="small">Trainline</span>

									<div class="clear"></div>
							</a>
							 <a href="https://online.dinersclub.co.uk/BtaUK/Login.aspx?ReturnUrl=%2fBtaUK%2fdefault.aspx" target="_blank">
									<span class="small">Black Circles</span>

									<div class="clear"></div>
							</a>
					</li>
					<li>
							<h3 class="loginHeading euro"> <i class="fa fa-eur"></i> Euros</h3>
							<a href="https://online.dinersclub.co.uk/DinersICardIR/login.aspx?ReturnUrl=%2fDinersICardIR%2fdefault.aspx" target="_blank">
									<span class="small">Euro Card &amp; Corporate</span>

									<div class="clear"></div>
							</a>
							<a href="https://online.dinersclub.co.uk/BtaIRE/Login.aspx?ReturnUrl=%2fBtaIRE%2fdefault.aspx" target="_blank">
									<span class="small">European Travel</span>

									<div class="clear"></div>
							</a>
					</li>
	</ul>
			</div><!--end of log-in-->
			<div class="clear"></div>
		</div><!--end of content-holder-->
	</div><!--end of header-top-->
	<!-- END: Diners Club Header Top -->

	<!-- Diners Club Header Menu -->
	<div class="header-menu">
		<div class="content-holder">
			<a id="ctl07_lnkHome" class="logo" href="http://www.dinersclub.co.uk/"></a>
			<a href="javascript:;" style="display: block;"></a>
			<ul class="menu">
				<li class="main current">
					<a id="ctl07_rptMainNav_lnkNav_0" href="javascript:;"><i class="arrow"></i>PRODUCTS</a>
					<ul id="ctl07_rptMainNav_ulNav_0" class="sub">
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_0" href="http://www.dinersclub.co.uk/Products/CompanyCard.aspx">COMPANY CARD</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_1" href="http://www.dinersclub.co.uk/Products/TravelAccount.aspx">TRAVEL ACCOUNT</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_2" href="http://www.dinersclub.co.uk/Products/trainline.aspx">Trainline BUSINESS STATEMENT ACCOUNT</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_3" href="http://www.dinersclub.co.uk/Products/PersonalChargeCard.aspx">PERSONAL CHARGE CARD</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_4" href="http://www.dinersclub.co.uk/Products/B2BStatementAccounts.aspx">B2B STATEMENT ACCOUNTS</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_5" href="http://www.dinersclub.co.uk/Products/DirectBookingAccount.aspx">DIRECT BOOKING ACCOUNT</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_6" href="http://www.dinersclub.co.uk/Products/MeetingsEventsProcurement.aspx">MEETINGS, EVENTS &amp; PROCUREMENT SOLUTIONS</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_7" href="http://www.dinersclub.co.uk/Products/TMC%20Solutions.aspx">TMC SOLUTIONS</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_0_lnkNav_8" class="current" href="https://lending.affiniture.co.uk/">INSTALMENT LENDING</a></li>
					</ul>
				</li>
				<li class="main">
					<a id="ctl07_rptMainNav_lnkNav_1" href="javascript:;"><i class="arrow"></i>CARDHOLDER SERVICES</a>
					<ul id="ctl07_rptMainNav_ulNav_1" class="sub sub-2">
						<li><a id="ctl07_rptMainNav_rptMainNavSub_1_lnkNav_0" href="http://www.dinersclub.co.uk/Services/AcceptedLocations.aspx">WHERE IS DINERS CLUB CARD ACCEPTED?</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_1_lnkNav_1" href="http://www.dinersclub.co.uk/Services/AirportLounges.aspx">AIRPORT LOUNGES</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_1_lnkNav_2" href="http://www.dinersclub.co.uk/Services/NearestATMs.aspx">NEAREST ATMs</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_1_lnkNav_3" href="http://www.dinersclub.co.uk/Services/Rewards.aspx">REWARDS TO ENJOY</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_1_lnkNav_4" href="http://www.dinersclub.co.uk/Services/RATools.aspx">REPORTING &amp; ANALYSIS TOOLS</a></li>
						<li><a id="ctl07_rptMainNav_rptMainNavSub_1_lnkNav_5" href="http://www.dinersclub.co.uk/Services/LostStolen.aspx">LOST OR STOLEN</a></li>
					</ul>
				</li>
				<li class="main"><a id="ctl07_rptMainNav_lnkNav_2" href="http://www.dinersclub.co.uk/FAQ.aspx">FAQS</a></li>
				<li class="main"><a id="ctl07_rptMainNav_lnkNav_3" href="http://www.dinersclub.co.uk/News.aspx">NEWS &amp; EVENTS</a></li>
				<li class="main"><a id="ctl07_rptMainNav_lnkNav_4" href="http://www.dinersclub.co.uk/About.aspx">ABOUT US</a></li>
				<li class="main"><a id="ctl07_rptMainNav_lnkNav_5" href="http://www.dinersclub.co.uk/Contacts.aspx">CONTACT</a></li>
			</ul>
			<a class="m-menu-toggle" href="javascript:;"></a>
			<a class="m-menu-close" href="javascript:;" onclick="hideMobileMenu();"></a>
			<div class="clear"></div>
		</div><!--end of content-holder-->
	</div>
	<!-- END: Diners Club Header Menu -->

	<!-- Diners Club Mobile Menu -->		
	<div class="m-menu">
		<a id="ctl07_rptMobileNav_lnkNav_0" class="main" href="javascript:;"><i class="arrow"></i>PRODUCTS</a>
		<ul class="sub">
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_0" href="http://www.dinersclub.co.uk/Products/CompanyCard.aspx">COMPANY CARD</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_1" href="http://www.dinersclub.co.uk/Products/TravelAccount.aspx">TRAVEL ACCOUNT</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_2" href="http://www.dinersclub.co.uk/Products/trainline.aspx">Trainline BUSINESS STATEMENT ACCOUNT</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_3" href="http://www.dinersclub.co.uk/Products/PersonalChargeCard.aspx">PERSONAL CHARGE CARD</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_4" href="http://www.dinersclub.co.uk/Products/B2BStatementAccounts.aspx">B2B STATEMENT ACCOUNTS</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_5" href="http://www.dinersclub.co.uk/Products/DirectBookingAccount.aspx">DIRECT BOOKING ACCOUNT</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_6" href="http://www.dinersclub.co.uk/Products/MeetingsEventsProcurement.aspx">MEETINGS, EVENTS &amp; PROCUREMENT SOLUTIONS</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_7" href="http://www.dinersclub.co.uk/Products/TMC%20Solutions.aspx">TMC SOLUTIONS</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_0_lnkNav_8" class="current" href="https://lending.affiniture.co.uk/">INSTALMENT LENDING</a></li>
		</ul>

		<a id="ctl07_rptMobileNav_lnkNav_1" class="main" href="javascript:;"><i class="arrow"></i>CARDHOLDER SERVICES</a>
		<ul class="sub">
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_1_lnkNav_0" href="http://www.dinersclub.co.uk/Services/AcceptedLocations.aspx">WHERE IS DINERS CLUB CARD ACCEPTED?</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_1_lnkNav_1" href="http://www.dinersclub.co.uk/Services/AirportLounges.aspx">AIRPORT LOUNGES</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_1_lnkNav_2" href="http://www.dinersclub.co.uk/Services/NearestATMs.aspx">NEAREST ATMs</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_1_lnkNav_3" href="http://www.dinersclub.co.uk/Services/Rewards.aspx">REWARDS TO ENJOY</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_1_lnkNav_4" href="http://www.dinersclub.co.uk/Services/RATools.aspx">REPORTING &amp; ANALYSIS TOOLS</a></li>
			<li><a id="ctl07_rptMobileNav_rptMainNavSub_1_lnkNav_5" href="http://www.dinersclub.co.uk/Services/LostStolen.aspx">LOST OR STOLEN</a></li>
		</ul>

		<a id="ctl07_rptMobileNav_lnkNav_2" class="main" href="http://www.dinersclub.co.uk/FAQ.aspx">FAQS</a>
		<ul class="sub"></ul>

		<a id="ctl07_rptMobileNav_lnkNav_3" class="main" href="http://www.dinersclub.co.uk/News.aspx">NEWS &amp; EVENTS</a>
		<ul class="sub"></ul>

		<a id="ctl07_rptMobileNav_lnkNav_4" class="main" href="http://www.dinersclub.co.uk/About.aspx">ABOUT US</a>
		<ul class="sub"></ul>

		<a id="ctl07_rptMobileNav_lnkNav_5" class="main" href="http://www.dinersclub.co.uk/Contacts.aspx">CONTACT</a>
		<ul class="sub"></ul>

		<div class="info">
			<div class="log-in"><i class="fa fa-lock"></i> LOG ON
				<span class="arrow"></span>
				<ul class="" style="display:none"></ul>
				<ul class="options" style="display: none">
					<li>
						<h3 class="loginHeading gbp"> <i class="fa fa-gbp"></i> Sterling</h3>
						<a href="https://online.dinersclub.co.uk/DinersICardUK" target="_blank">
							<span class="small">Diners Club Card &amp; Corporate</span>

							<div class="clear"></div>
						</a>
						<a href="https://online.dinersclub.co.uk/BtaUK" target="_blank">
							<span class="small">Travel Account</span>

							<div class="clear"></div>
						</a>
						<a href="http://www.dinersclub.co.uk/" target="_blank">
							<span class="small">Trainline</span>

							<div class="clear"></div>
						</a>
						<a href="http://www.dinersclub.co.uk/" target="_blank">
							<span class="small">Black Circles</span>

							<div class="clear"></div>
						</a>
					</li>
					<li>
						<h3 class="loginHeading euro"> <i class="fa fa-eur"></i> Euros</h3>
						<a href="https://online.dinersclub.co.uk/DinersICardIR" target="_blank">
							<span class="small">Diners Club Card Account </span>

							<div class="clear"></div>
						</a>
						<a href="https://online.dinersclub.co.uk/BtaIRE" target="_blank">
							<span class="small">Travel Account</span>

							<div class="clear"></div>
						</a>
					</li>
				</ul>
			</div><!--end of log-in-->

			<a href="tel:03458622935" class="phone">Enquire now: <span>0345 862 2935</span></a>

			<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52456e6a52a833bc"></script> -->

			<div class="clear"></div>
		</div><!-- end of info -->
	</div><!-- end of m-menu -->
	<!-- END: Diners Club Mobile Menu -->

</div>
<!-- END: Legacy Header and Nav -->