{#
 # Header template
 # ---------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

{% include '_header-legacy' %}

<!-- Instalment Lending Header -->
<header>
	<!-- Instalment Lending Nav -->
	<nav class="nav-secondary nav-fixable">
		<!-- Nav Container -->
		<div class="container">
			<div class="nav-secondary-branding">
				{% set logo = header.logo.first() %}

				{% if logo %}
					<img src="{{ logo.url }}" alt="{{ logo.title }}" >
				{% endif %}
			</div>

			{% if header.links | length %}
				<div class="nav-secondary-mobile-header">
					{# Set mobile navigation menu header based on first navigation link #}
					{% for link in header.links | slice(0, 1) %}
						<span>{{ link.displayName }}</span>
					{% endfor %}
					<button class="nav-secondary-mobile-toggle">
						<i class="fa fa-angle-down" aria-hidden="true"></i>
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>

				<ul>
					{% for link in header.links %}

						{% if loop.first %}
							{% set class = ' active' %}
						{% else %}
							{% set class = '' %}
						{% endif %}

						<li class="nav-item nav-secondary-item {{ class }}">
							<a href="{{ link.url }}">{{ link.displayName }}</a>
						</li>
						
					{% endfor %}
				</ul>
			{% endif %}

			{% if header.navAction.label %}
				<div class="nav-secondary-actions">
					<a class="button nav-button button-outline-light" href="{{ header.navAction.actionUrl }}">
						{{ header.navAction.label }}
					</a>
				</div>
			{% endif %}

		</div>
		<!-- END: Nav Container -->
	</nav>
	<!-- END: Instalment Lending Nav -->
</header>
<!-- Instalment Lending Header -->