{#
 # Matrix template
 # ---------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

{% extends "_layout" %}

{% block content %}

	{% for block in entry.matrix.level(1) %}
		{% switch block.type.handle %}
				
			{% case 'card' %}
				<div class="container">
					{% include '_components/' ~ block.type.handle with {block: block} only %}
				</div>

			{% case 'floatingColumns' %}

			{% default %}
					{% include '_components/' ~ block.type.handle with {block: block} only %}

		{% endswitch %}
	{% endfor %}

{% endblock %} 