// ==========================================
// _floating-columns.scss
// Copyright 2017 Affiniture Cards Limited
// ==========================================

$col-spacing: 2rem;
$col-spacing-lg: 6.25rem;

.col-floating {
	&-img  {
		min-height: 5rem;
		min-width: 100%;
		background-size: cover;
		background-position: center;
		order: -1;
		@media (min-width: $break-lg) {
			min-height: 0;
			min-width: 0;
			margin-top: 2rem;
			margin-bottom: 2rem;
			order: 0;
		}
	}
	@media (min-width: $break-lg) {
		position: relative;
		margin-top: 2rem;
		&::before {
			content: '';
			position: absolute;
			top: $col-spacing-lg;
			right: 0px;
			bottom: $col-spacing;
			left: 0px;
			background-color: $colour-light;
		}
		
		.row  {
			margin-top: -$col-spacing;
			margin-bottom: -$col-spacing;
			&:first-child  {
				margin-top: 0;
				.col-floating-img  {
					margin-top: $col-spacing-lg;
				}
			}
			&:nth-child(odd) .col-floating-img  {
				order: -1;
				margin-left: $col-spacing-lg;
			}
			&:nth-child(even) .col-floating-img  {
				order: 1;
				margin-right: $col-spacing-lg;
			}
			&:last-child  {
				margin-bottom: 0;
			}
		}

		.card {
			padding: 5rem 6.5rem;
			.card-heading {
				font-size: 2.625rem;
			}
		}
	}
}